<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/jquery-3.6.0.min.js"></script>      <!--  puede que no funcione por que le puso el pinche punto -->
    <script src="./js/actualizarcre.js"></script>
    <script src="./js/eliminarcre.js"></script>
    <!--<script src="./js/eliminarcre.js"></script>-->

    <link rel="stylesheet"  href="/css/retidiner.css">
    <title>Banco</title>
</head>
<section class="form-registerr">
    
    <title></title>
</head>
<body>

    
    <div class="login">
      
        
  
     
                <div class="container-login">
                  <div class="wrap-login">
                          <span class="login-form-title">Retirar Dinero</span>
                          <form action="/frmrestar" method="POST">
                          

                              <input  class="input100" type="text" id="Monto" name="mont"  placeholder="Monto">
                              <select class="controls"  name="Cuenta">

                                <option>Ahorros</option>
                                
                                <option>Corriente</option>
                                
                           
                                
                                </select>
 
                            




                            <span class="focus-efecto"></span>

                          
                          <div class="container-login-form-btn">
                              <div class="wrap-login-form-btn">
                                  <div class="login-form-bgbtn"></div>
                                  <button type="submit" name="submit" class="login-form-btn">Confirmar Transaccion</button>
                                  </form>
                              </div>
                        </div>
                  </div>
              </div>     




    
    </form>
</section>

<tbody>
</tbody>
</table>
</div>
</head>
</form>    
</body>
</html>